# macOS related
**/.DS_Store
**/.DS_Store?

# ide related
**/.vscode/
**/.idea/

# test
**/test
test*
!tool/**/test

# go.work
go.work

# python
**/__pycache__

# tool test
tool/**/*.mod
tool/**/*.sum
tool/**/*.cfg
